.headerImage{
    height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
    background: black;
    background: -webkit-linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.4)),url("../images/camera-iphone-macbook-pro-office-62689.jpg");
    background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.4)),url("../images/camera-iphone-macbook-pro-office-62689.jpg");
    background-size: cover;
}
img{
    object-fit: cover;
}
h1{
    color: whitesmoke;
}
