input[type=text], input[type=password] {
    width: 20em;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-left: 8em;
}
label{
    margin-left: 8em;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 10em;
    margin-left: 2em;
    font-size: 1.4em;
    border-radius: 0.4em;
}
.container {
    padding: 16px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.JoinUsForm{
    margin-left: 33%;
    margin-bottom: 2em;
    margin-top: 2em;
    background: rgba(230,230,250, 0.8);
    padding: 2px;
    width: 42em;
}
p{
    margin-left: 4em;
    color: coral;
    font-size: 1.5em;
}
.formHead{
    margin-left: 7%;
}
